
/* header*/
.header {   display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 77px 118px 264px 132px ; }

.logo  {  font-family: 'Lato', sans-serif;
            font-size: 32px;}

.logo-text {  font-weight: bold;
             color: #3D37F1;}

.logo-text2 { color: #4B647E;}

.nav-ul {display: flex;
        justify-content: space-around;}




.nav-li  {   font-size: 20px;
            line-height: 20px;
            font-weight: 700;
            font-family: 'Lato', sans-serif;
            color: #3d37f1 ; 
            margin-right: 10px; /* margin-ების გარეშე ნავიგაცია ერთმანეთს ვერ დავაშორე, ვერა და ვერ მივხვდი სად ვუშვებდი შეცდომას :(*/
            margin-left: 10px;}

/*section1*/ 


